.cutree {
  cursor: default;
}
.cutree,
.cutree * {
  margin: 0;
  padding: 0;
}
.cutree li {
  list-style-type: none;
}
.cutree ul {
  padding-left: 0.5em;
}
.cutree li.has_children > span {
  border: 1px solid #555;
}
