/* This one is the treeview-like CSS

You are not required to use it at all, it is here just for
sake of example.*/
.cutree {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cutree.treeview li:before {
  display: inline-block;
  visibility: hidden;
  overflow: hidden;
  font: normal 1em monospace;
  content: '+';
  width: 0.9em;
  height: 0.9em;
  line-height: 0.8em;
  text-align: center;
  border-radius: 0.2em;
  margin-right: 0.3em;
  background: #eeeeee linear-gradient(135deg, #ffffff, #dddddd);
  box-sizing: border-box;
  border: 1px solid #aaa;
}
.cutree.treeview {
  display: inline-block;
  cursor: default;
  border: 1px solid #888;
  background: #fff;
  margin: 1em;
  padding: 1em 1em 1em 0.5em !important;
  font: normal 12px sans-serif;
}
.cutree.treeview,
.cutree.treeview * {
  margin: 0;
  padding: 0;
}
.cutree.treeview li {
  list-style-type: none;
  position: relative;
  margin-bottom: 0.25em;
  z-index: 2;
}
.cutree.treeview li.cutree_children {
  cursor: pointer;
}
.cutree.treeview li.cutree_children:before {
  visibility: visible;
}
.cutree.treeview li.cutree_opened:before {
  content: '—';
}
.cutree.treeview ul {
  padding: 0.1em 0 0 1.25em;
}
.cutree.treeview li li.cutree_children:after {
  display: block;
  position: absolute;
  left: -0.75em;
  top: 0.5em;
  content: '';
  width: 0.5em;
  border-bottom: 1px dotted #bbb;
}
.cutree.treeview ul {
  position: relative;
}
.cutree.treeview ul:before {
  position: absolute;
  left: 0.5em;
  top: 0;
  bottom: 0.5em;
  content: '';
  display: block;
  border-left: 1px dotted #bbb;
  z-index: 0;
}
