/* This one is the treeview-like CSS

You are not required to use it at all, it is here just for
sake of example.*/

.cutree.treeview{
  cursor: default;
  &,*{
    margin: 0;
    padding: 0;
  }
  li{
    list-style-type: none;
  }
  ul{
    padding-left: 0.5em;
  }

}